.userlist2 {
    max-width: 1400px;
    margin: 20px auto;
    width: 100%;
    min-height: 600px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 30px;
    box-sizing: border-box;
}